.searchbox {
    background-color: #ec2811;
    height: 15%;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
}

.searchbox-content {
    position: relative;
    top: 30px;
}

.searchbox-input {
    margin-left: 5px;
    font-size: 1rem;
    padding: 5px;
    width: 35%;
    font-family: inherit;
}